<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>
    <!--  <input type="radio" name="courseId" value="1"> Веб програмирање<br/>-->
    <!--  <input type="radio" name="courseId" value="2"> Оперативни системи<br/>-->
    <!--  <input type="radio" name="courseId" value="3"> Електронска и мобилна трговија<br/>-->
    <form th:action="@{/AddStudent}" th:method="POST">
        <div th:each="course: ${courses}">
            <input type="radio" name="courseId" th:value="${course.courseId}"> <span
                th:text="${course.name}"></span>
<!--            <form th:action="@{'/courses/delete/{id}' (id = ${course.getCourseId()}) }" th:method="DELETE"-->
<!--                  style="display: inline">-->
<!--                <button style="color: red;display: inline" type="submit"> Delete</button>-->
<!--            </form>-->
            <a th:href="@{'/courses/delete/{id}' (id = ${course.getCourseId()})}" style="color: red">Delete</a>
            &nbsp;
            <a th:href="@{'/courses/edit-form/{id}' (id=${course.getCourseId()})}" style="color: aquamarine;background:
            black">Edit
            </a>

        </div>
        <br/>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a th:href="@{/courses/add}">Add course</a>
</main>
</body>
</html>