<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <button sec:authorize="!isAuthenticated()" onclick="location.href='/login'">Log in</button>
    <button type="button" onclick="location.href='/logout'" sec:authorize="isAuthenticated()">Logout</button>
    <h1>Courses List <span  sec:authorize="hasRole('ADMIN')" > - Admin view</span>

    </h1>
</header>
<main>

    <h3> Best teacher:</h3>
    <div>
        <span th:text="${bestTeacher}"></span>
        <span> with number of coursess: </span>
        <span th:text="${bestTeacherCourses}"></span>
    </div>
    <h2>Choose course:</h2>
    <!--  <input type="radio" name="courseId" value="1"> Веб програмирање<br/>-->
    <!--  <input type="radio" name="courseId" value="2"> Оперативни системи<br/>-->
    <!--  <input type="radio" name="courseId" value="3"> Електронска и мобилна трговија<br/>-->
    <form th:action="@{/AddStudent}" th:method="POST">
        <div th:each="course: ${courses}">
            <input type="radio" name="courseId" th:value="${course.courseId}"> <span
                th:text="${course.name}"></span>
<!--            <form th:action="@{'/courses/delete/{id}' (id = ${course.getCourseId()}) }" th:method="DELETE"-->
<!--                  style="display: inline">-->
<!--                <button style="color: red;display: inline" type="submit"> Delete</button>-->
<!--            </form>-->
            <a th:href="@{'/courses/delete/{id}' (id = ${course.getCourseId()})}" style="color: red" sec:authorize="hasRole('ADMIN')">Delete</a>
            &nbsp;
            <a th:href="@{'/courses/edit-form/{id}' (id=${course.getCourseId()})}" style="color: aquamarine;background:
            black" sec:authorize="hasRole('ADMIN')">Edit
            </a>

        </div>
        <br/>
        <button type="submit" sec:authorize="hasRole('ADMIN')">Submit</button>
    </form>
    <div th:if="${hasError}" th:text="${error}" style="color: red"></div>
    <br>
    <a  sec:authorize="hasRole('ADMIN')" th:href="@{/courses/add}">Add course</a> <br>
    <a th:href="@{/grades/list}">Grades overview</a>
</main>
</body>
</html>